@font-face {
    font-family: 'ZCOOL KuaiLe';
    src: url('../fonts/ZCOOLKuaiLe-Regular.woff2') format('woff2'),
        url('../fonts/ZCOOLKuaiLe-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron-Bold.woff2') format('woff2'),
        url('../fonts/Orbitron-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Righteous';
    src: url('../fonts/Righteous-Regular.woff2') format('woff2'),
        url('../fonts/Righteous-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}